---
import { imageConfig } from "astro:assets";
import styles from "./partners.module.scss";

let images = [
	{
		src: "/ecrimino.webp",
		title: "ecrimino",
	},
	{
		src: "/bomoko-white.webp",
		title: "bomoko siyanda",
	},
	{
		src: "/one.webp",
		title: "gov",
	},
	{
		src: "/traveleyes.webp",
		title: "traveleyes",
	},
	{
		src: "/rural.webp",
		title: "minisitry of rural development",
	},
	{
		src: "/embassy.webp",
		title: "congo embassy",
	},
];
---

<div data-theme="light" class={styles.partner_container}>
	<h3 class="h4">Partners in Digital Transformation</h3>

	<div class={`container-wide ${styles.container_wide}`}>
		<div class={styles.partner}>
			{
				images.map((img) => {
					return (
						<div>
							<img
								loading="lazy"
								width="192"
								height=""
								src={img.src}
								alt={img.title}
							/>
						</div>
					);
				})
			}
			{
				images.map((img) => {
					return (
						<div>
							<img
								loading="lazy"
								width="192"
								height=""
								src={img.src}
								alt={img.title}
							/>
						</div>
					);
				})
			}
			{
				images.map((img) => {
					return (
						<div>
							<img
								loading="lazy"
								width="192"
								height=""
								src={img.src}
								alt={img.title}
							/>
						</div>
					);
				})
			}
		</div>
	</div>
</div>
