---
import styles from "./portfolio.module.scss";
---

<div data-theme="light" class={styles.portfolio_container} id="portfolio">
	<div class={`container ${styles.portfolio}`}>
		<h2 class="h2">OUR WORK</h2>

		<div>
			<div class={styles.portfolio_items}>
				<div class={styles.portfolio_items_child}>
					<h3 class="h3 clash-display">ecrimino.com</h3>
					<p class="text">
						Founded in 2018, The School of Criminology, University
						of Kinshasa has a notable record of training graduates
						impacting the DRC's criminal justice system. We were
						honoured to contribute to the excellence with the design
						and development of their official website.
						<br />
						<a
							href="https://ecrimino.com"
							target="__blank"
							data-type="link"
							data-variant="secondary"
						>
							Check it out.
						</a>
					</p>
					<div>
						<video
							src="/ecrimino.mp4"
							autoplay
							loop
							muted
							preload="none"
							poster="/ecrimino-1.webp"
							playsinline></video>
					</div>
				</div>
				<div class={styles.portfolio_items_child}>
					<h3 class="h3 clash-display">traveleyes.in</h3>
					<p class="text">
						Experience India through The Eyes of Heritage. A
						hassle-free UX/UI design journey for Travel Eyes—a
						Delhi-based travel company that makes your dream Indian
						adventure come true.
						<br />
						<a
							href="https://traveleyes.in"
							target="__blank"
							data-type="link"
							data-variant="secondary"
						>
							Check it out.
						</a>
					</p>
					<div>
						<video
							src="/traveleyes.mp4"
							autoplay
							loop
							muted
							preload="none"
							playsinline
							poster="/traveleyes-1.webp"></video>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
